   <!--ユーザーインフォメーション-->
<div class="card mx-auto rounded" style="width: 800px, height: 100px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <%= image_tag @end_user.get_profile_image, width: "100%",height: "100%" %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title"><strong><%= @end_user.name %></strong></h3>
        <div class="introduction">
            <p><%= @end_user.introduction %></p>
        </div>
        
            <% if @end_user.name != "guestuser" && @end_user == current_end_user %> <!--ゲストユーザーではなくcurrentユーザーのときだけ編集OK-->
              <p><%= link_to 'プロフィール編集',edit_public_end_user_path(@end_user)%></p>
            <% end %>
            
            <div class= "follower">
            <table class = 'table'>
             <thead align="center">
               <th>follow</th>
               <th>follower</th>
             </thead>
             <tbody align="center">
               <td><%= link_to @end_user.followings.count,  public_end_user_followings_path(@end_user.id) %></td>
               <td><%= link_to @end_user.followers.count, public_end_user_followers_path(@end_user.id) %></td>
             </tbody>
            </table>
            </div>
            
            <% if current_end_user != @end_user %>
            <% if current_end_user.following?(@end_user) %>
              <%= link_to "フォロー外す", public_end_user_relationships_path(@end_user.id), method: :delete %>
            <% else %>
              <%= link_to "フォローする", public_end_user_relationships_path(@end_user.id), method: :post %>
            <% end %>
           <% end %>
           
           <%=link_to followings_public_post_sushi_path(@end_user) do %>
                <i class="fas fa-user-friends"></i>フォローしている人の投稿一覧
        　 <% end %>
           
           <% if @end_user.name != "guestuser" && @end_user == current_end_user %>
          　 <p><%=link_to"退会する", public_end_user_unsubscribe_path(@end_user),class:"btn btn-danger btn-sm" %></p>
           <% end %>
           
      </div>
    </div>
  </div>
</div>
    
　　<!--ユーザーの寿司投稿-->
　　<%= render 'public/post_sushis/post', post_sushis: @post_sushis %>
　　
    
 
