   <!--ユーザーインフォメーション-->
<div class="card mx-auto rounded" style="width: 800px, height: 100px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <%= image_tag @end_user.get_profile_image, width: "100%",height: "100%" %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title"><strong><%= @end_user.name %></strong></h3>
        <div class="introduction">
            <p><%= @end_user.introduction %></p>
        </div>
        
            <% if @end_user.name != "guestuser" && @end_user == current_end_user %> <!--ゲストユーザーではなくcurrentユーザーのときだけ編集OK-->
              <p><%= link_to 'プロフィール編集',edit_public_end_user_path(@end_user)%></p>
            <% end %>
            
            <div class= "follower">
            <table class = 'table'>
             <thead align="center">
               <th>follow</th>
               <th>follower</th>
             </thead>
             <tbody align="center">
               <td><%= link_to @end_user.followings.count,  public_end_user_followings_path(@end_user.id) %></td>
               <td><%= link_to @end_user.followers.count, public_end_user_followers_path(@end_user.id) %></td>
             </tbody>
            </table>
            </div>
            
            <% if current_end_user != @end_user %>
            <% if current_end_user.following?(@end_user) %>
              <%= link_to "フォロー外す", public_end_user_relationships_path(@end_user.id), method: :delete %>
            <% else %>
              <%= link_to "フォローする", public_end_user_relationships_path(@end_user.id), method: :post %>
            <% end %>
           <% end %>
           
           <p><%=link_to"フォロワー寿司投稿", followings_public_post_sushi_path(@end_user) %></p>
           <p><%=link_to"退会する", public_end_user_unsubscribe_path(@end_user) %></p>
           
      </div>
    </div>
  </div>
</div>
    
　　<!--ユーザーの寿司投稿-->
　　<div class="row mt-5 mx-auto">
       <% @post_sushis.each do |post_sushi| %>
       <div class="col-lg-3">
        <div class="card w-100 mb-4">
          <%= image_tag post_sushi.get_image, class: 'sushi-img' %>
          <div class="card-body">
            <h5 class="card-title">
            <%= link_to public_post_sushi_path(post_sushi.id) do %>
              <strong><%= post_sushi.name %></strong>
            <% end %>
            </h5>
              <p class="card-text1"><%= post_sushi.region %>地方</p>
              <p class="card-text2"><%= post_sushi.prefecture %></p>
              <p class="card-text2"><%= post_sushi.municipalities %></p>
              <p class="card-text2">ランチorディナー：<%= post_sushi.lunch_dinner %></p>
              <p class="card-text2">一人あたりの値段：<%= post_sushi.price %></p>
              <p class="card-text2">お店の雰囲気：<%= post_sushi.atmosphere %></p>
              <p class="card-text2">感想：<%= post_sushi.memo %></p>
          </div>
        </div>
       </div>
       <% end %>
     </div>
    
 
