<div class="container">
   <div class="row">
     <!--ユーザーインフォメーション-->
     <div class="col-lg-4" style="background-color: orange;">
       <div class="card-container">
         <div class="card-headre">
           <figure class="image">
           <%= image_tag @end_user.get_profile_image(300,300), class:"d-block mx-auto mt-3 rounded-circle"; %>
           </figure>
         </div>
         <div class="card-body">
           <h3 class="name">
             <strong><%= @end_user.name %></strong>
           </h3>
             <div class = "introduction">
               <p><%= @end_user.introduction %></p>
             </div>

            <% if @end_user == current_end_user %>
              <p><%= link_to "プロフィール編集", edit_public_end_user_path(@end_user.id) %></p>
            <% end %>

            <!--フォロー・フォロワー機能-->
            <table class = 'table'>
             <thead align="center">
               <th>follow</th>
               <th>follower</th>
             </thead>
             <tbody align="center">
               <td><%= link_to @end_user.followings.count,  public_end_user_followings_path(@end_user.id) %></td>
               <td><%= link_to @end_user.followers.count, public_end_user_followers_path(@end_user.id) %></td>
             </tbody>
            </table>

           <% if current_end_user != @end_user %>
            <% if current_end_user.following?(@end_user) %>
              <%= link_to "フォロー外す", public_end_user_relationships_path(@end_user.id), method: :delete %>
            <% else %>
              <%= link_to "フォローする", public_end_user_relationships_path(@end_user.id), method: :post %>
            <% end %>
           <% end %>

           <p><%=link_to"お気に入り寿司投稿",favorites_public_end_user_path(@end_user) %></p>
           <p><%=link_to"フォロワー寿司投稿", followings_public_post_sushi_path(@end_user) %></p>

         </div>
       </div>
     </diV>

　　<!--ユーザーの寿司投稿-->
     <div class="col-lg-7" style="background-color: blue;">
       <% @post_sushis.each do |post_sushi| %>
        <div class="card" style="width: 20rem;">
          <%= image_tag post_sushi.get_image %>
          <div class="card-body">
            <h5 class="card-title">
            <%= link_to public_post_sushi_path(post_sushi.id) do %>
              <strong><%= post_sushi.name %></strong>
            <% end %>
            </h5>
              <p class="card-text1"><%= post_sushi.region %>地方</p>
              <p class="card-text2"><%= post_sushi.prefecture %></p>
              <p class="card-text2"><%= post_sushi.municipalities %></p>
              <p class="card-text2">一人あたりの値段：<%= post_sushi.price %></p>
              <p class="card-text2">お店の雰囲気：<%= post_sushi.atmosphere %></p>
              <p class="card-text2">感想：<%= post_sushi.memo %></p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
         </div>
       <% end %>
     </div>
  </diV>
</div>