<!--寿司投稿詳細-->
<div class="card" style="width: 30rem;">
  <%= image_tag @post_sushi.get_image %>
  <div class="card-body">
    <h5 class="card-title"><strong><%= @post_sushi.name %></strong></h5>
    <p class="card-text1"><%= @post_sushi.region %>地方</p>
    <p class="card-text2"><%= @post_sushi.prefecture %></p>
    <p class="card-text2"><%= @post_sushi.municipalities %></p>
    <p class="card-text2">一人あたりの値段：<%= @post_sushi.price %></p>
    <p class="card-text2">お店の雰囲気：<%= @post_sushi.atmosphere %></p>
    <p class="card-text2">感想：<%= @post_sushi.memo %></p>
     <%= link_to public_end_user_path(@post_sushi.end_user_id) do %>
        <%= @post_sushi.end_user.name %>
     <% end %>
   <!-- <a href="#" class="btn btn-primary">Go somewhere</a>-->

<!--コメント機能-->
 <!--表示されるコメント情報-->
 <div class= "comment_area">
    <div class= "comment">
       <% @post_sushi.post_comments.each do |post_comment| %>
         <%= post_comment.end_user.name %>
         <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>

         <% if post_comment.end_user == current_end_user %>
           <%= link_to "コメント削除",  public_post_sushi_post_comment_path(post_comment.post_sushi, post_comment), method: :delete %>
         <% end %>
       <% end %>
    </div>
 <!--コメントするボックス-->
    <div>
      <%= form_with model: [@post_sushi, @post_comment], url: public_post_sushi_post_comments_path(@post_sushi), method: :post do |f| %>
        <%= f.text_area :comment, rows: '2', placeholder: "コメントをここに" %><br>
        <%= f.submit "送信する" %>
       <% end %>
    </div>
  </diV>

 <!--タベタイ機能-->
    <% if @post_sushi.favorited_by?(current_end_user) %>
      <p>
        <%= link_to  public_post_sushi_favorites_path(@post_sushi), method: :delete do %>
           <i class="fa-regular fa-hand-heart"></i><%= @post_sushi.favorites.count %> タベタイ！
        <% end %>
      </p>
    <% else %>
      <p>
        <%= link_to public_post_sushi_favorites_path(@post_sushi), method: :post do %>
          <i class="fa-regular fa-hand-heart"></i><%= @post_sushi.favorites.count %> タベタイ！
        <% end %>
      </p>
    <% end %>

<!--投稿の削除-->
    <% if @post_sushi.end_user == current_end_user %>
      <%= link_to "投稿を削除", public_post_sushi_path(@post_sushi), method: :delete %>
    <% end %>


  </div>
</div>

