   <div class= "comment">
       <% post_sushi.post_comments.each do |post_comment| %>
         <%= image_tag post_comment.end_user.get_profile_image, width: "50px",height: "50px",class:"mt-3 rounded-circle"; %><%= post_comment.end_user.name %>
          <div class="balloon">
           　<%= post_comment.comment %>
            <div class="balloon-text text-right">
              <% if post_comment.end_user == current_end_user %>
                <%= link_to "コメント削除",  public_post_sushi_post_comment_path(post_comment.post_sushi, post_comment), method: :delete, remote: true, data: {confirm: "本当に削除しますか？"} %>
            　<% end %>
           　 <%= post_comment.created_at.strftime('%Y/%m/%d') %>
            </div>
          </div>

       <% end %>
    </div>

