<!DOCTYPE html>
<html>
  <head>
    <title>Sushirou</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <header class="shadow-sm">
       <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
       <% if end_user_signed_in? %>
       　<li>
           <%= link_to "Home", public_post_sushis_path %>
         </li>

         <li>
           <%= link_to "マイページ", public_end_user_path(current_end_user.id) %>
         </li>
         <li>
           <%= link_to "新規投稿", new_public_post_sushi_path %>
         </li>
         <li>
           <%= link_to destroy_end_user_session_path, method: :delete do %>
           <i class="fas fa-sign-out-alt"></i> Log out
           <% end %>
         </li>
       <% else %>
         <li>
           <%= link_to "新規登録", new_end_user_registration_path %>
         </li>
         <li>
          <%= link_to "ログイン", new_end_user_session_path %>
         </li>
       <% end %>
          </ul>
          </div>
        </div>
      </nav>
     </header>



    <main class="my-5">
      <%= yield %>
    </main>

    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class ="mx-auto">
          <p>© 2022 Sushirou! from Meta</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
