<!DOCTYPE html>
<html>
  <head>
    <title>Sushirou</title>
    <!--<meta name="viewport" content="width=device-width,initial-scale=1">-->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="https://kit.fontawesome.com/451a59e5f8.js" crossorigin="anonymous"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
     integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <header class="shadow-sm">
       <nav class="navbar navbar-expand-lg navbar-light p-3">
          <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
       <% if end_user_signed_in? %>
        <li>
           <%= link_to "ミンナのスシ", public_post_sushis_path, class:"nav-link text-light" %>
         </li>

         <li>
           <%= link_to public_end_user_path(current_end_user.id), class:"nav-link text-light" do %>
           <i class="fas fa-sign-out-alt"></i> マイスシ
           <% end %>
         </li>
         <li>
           <%= link_to "スシの投稿", new_public_post_sushi_path, class:"nav-link text-light" %>
         </li>
          <li>
           <%= link_to favorites_public_end_user_path(current_end_user.id), class:"nav-link text-light" do %>
            <i class="fas fa-thumbs-up"></i>タベタイスシ
           <% end %>
         </li>
         <li>
           <%= link_to destroy_end_user_session_path, method: :delete, class:"nav-link text-light" do %>
            <i class="fas fa-sign-out-alt"></i> Log out
           <% end %>
         </li>
       <% else %>
         <li>
           <%= link_to "新規登録", new_end_user_registration_path %>
         </li>
         <li>
          <%= link_to "ログイン", new_end_user_session_path %>
         </li>
       <% end %>
          </ul>
          </div>
        </div>
      </nav>
     </header>



    <main class = "main">
      <div class="row">
        <div class="col-md-2" style="background-color: #163054;">
            <a class="logo" href="/"><%= image_tag('PF_logo.png') %></a>
          <div class= "sidebar_fixed">
          </div>
        </div>

        <div class= "col-md-10 mt-5">
        <%= yield %>
        </div>
      </div>
    </main>


    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class ="mx-auto">
          <p>© 2022 Sushirou! from Meta</p>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
     integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
     integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
     integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>
